body {
  margin-top: 0;
  @include font-body-copy;
  background: $gray-01;
}

.main-container, .footer-container, .home-content-container {
  margin: 0 auto;
  text-align: center;
  width: 990px;
  background: url('../images/bg_main-container.png') repeat-y 0 0;
}

#site-bottom {
  margin: 0 auto;
  text-align: center;
  width: 990px;
  height: 20px;
  background: url('../images/bg_bottom.png') no-repeat 0 0;
}

.page-wrapper, .home-content {
  text-align: left;
}

.pane-page-content {
  padding: 0 10px;
}

.region-main-content {
  position: relative;
}

.page-taxonomy-term {
  .pane-page-title {
    h1 {
      
    }
  }
  .pane-taxonomy-term-field-image-logo {
    float: right;
    padding: 0 15px 15px;
    clear: right;
  }
}

.submit-request-quote {
  display: inline-block;
  background: $blue-dark;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px 10px;
  margin-left: 4px;
  @include border-radius(10px);
  &:link,
  &:active,
  &.active,
  &:visited {
    color: #ffffff;
  }
}
