.mailchimp-lists-user-subscribe-form {
  margin-bottom: 50px;
  .form-type-textfield {
    display: inline-block;
  }
}
.mailchimp-newsletter-wrapper {
  margin-bottom: 0;
  div:first-child {
    font-size: 24px;
    margin-bottom: 0;
  }
}