////////////////////////
// Mixins Partials
//
// All of your mixins should go in this file.
////////////////////////

@mixin font-body-copy {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .85em;
  line-height: 22px;
  color: $font-color-base;
}

@mixin reset-li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
