#panels-dnd-main .header, #panels-dnd-main .main-nav {
    width: 100%;
    clear: both;
}
#panels-dnd-main .content-wrapper, #panels-dnd-main .footer-wrapper {
    width: 100%;
    clear: both;
}
#panels-dnd-main .region-2col-sidebar-left {
    width: 25%;
    float: left;
}
#panels-dnd-main .region-main-content {
    width: 75%;
    float: right;
}
#panels-dnd-main .footer {
    width: 100%;
    clear: both;
}